.navigation {
    // cette classe se trouve dans le component navigation donc tous le code se trouve dedans
    margin:15%;
  
    a {
      margin: 10px;
      padding: 10px;
      position: relative;
    }
    .nav-active {
      &::after {
        content: "";
        width: 85%;
        height: 5px;
        background: $color-1;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    
  }
  .searchBar{
      position: absolute;
      width: 500px;
      height: 70px;
      left: 470px;
      top: 40px;

      input,button{
        border: pink solid 4px;
        margin-right:4px
      }
      
    
    }