.recette-Random {
  margin-left: 2%;

  .list-data{
   

  padding-top: 50px;
  text-align: center;

  img {
    object-fit: cover;
    height: 200px;
    width: 260px;
    

  }
  h3{
    color:$color-1;
  }

}
}