.recettes {
  
  
    
    .recette-list{
      display: flex;
      flex-wrap: wrap;
    }
  }
#category{
  display: flex;
  justify-content: space-between;
  a{
    color: $color-1;
  }
  a:hover {
    text-decoration: underline;
  }
}