.recette-Random {
    margin-left: 2%;
   
   
  
    .list-data{
     
  
    
    padding-top: 50px;
    text-align: center;
  
    img {
      object-fit: cover;
      height: 200px;
      width: 260px;
      
  
    }
    h3{
      color:$color-1;
    }
  
  }

  .ingredients{
    border: 2px solid $color-1;
    max-width: 300px;
  }
  .video{
    max-width: 200px;
    margin: auto;
  }
  .instruction
  {
    max-width: 1200px;
    line-height: $line;
  }
  
  }